<component name="ArtifactManager">
  <artifact type="war" name="spring-security-ldap-embedded:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-security-ldap-embedded.war">
      <element id="artifact" artifact-name="spring-security-ldap-embedded:war exploded" />
    </root>
  </artifact>
</component>